/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Arvo:ital@1&family=Lobster&family=Source+Code+Pro:ital,wght@0,300;1,200&display=swap');
body{
    font-family: 'Arvo', serif;
    margin: 0px;
    font-size: 14px;
    margin-bottom: 100px;
}